body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.container {
  width: 100% !important;
  max-width: 1286px !important;
  margin: 0 auto;
}
header {
  color: #9a9ea6;
  margin-bottom: 43px;
}
.nav {
  li {
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    &:hover {
      color: #4475f2;
    }
    img {
      width: 16px;
      height: 16px;
    }
  }
  button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    padding: 14px;
  }
}
.s-shadow {
  box-shadow: 0px 20px 35px 0px #4475f236;
}
.s1-shadow {
  box-shadow: 0px 15px 20px 0px #4475f233;
}
.partner {
  width: 268.63px;
  height: 95.86px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  filter: grayscale(100%);

  &:hover {
    box-shadow: 0px 10px 25px 0px rgba(55, 55, 56, 0.2);
    filter: grayscale(0);
  }
}
@media (max-width: 1300px) {
  .container {
    max-width: 1140px !important;
  }
  .h1-media {
    font-size: 65px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1080px !important;
    padding: 15px;
  }
  .h1-media {
    font-size: 55px;
  }
}
.nav {
  gap: 20px;
  li {
    gap: 2px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px !important;
  }
  .h1-media {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .p-media {
    line-height: 20px;
  }
  .nav {
    gap: 15px;
    font-size: small;
    button {
      width: 32px;
      height: 32px;
      padding: 8px;
    }
  }
  .b-media {
    gap: 20px;
  }
  .s-shadow {
    padding-inline: 5px;
    font-size: medium;
  }
}
.nav-scroll {
  width: 80%;
}
@media (max-width: 768px) {
  .container {
    max-width: 720px !important;
    .nav {
      font-size: smaller;
      gap: 30px;
    }
  }
  .h1-media {
    font-size: 30px;
  }
  .p-media {
    line-height: 19px;
    margin-bottom: 10px;
  }
  .b-media {
    gap: 15px;
  }
  .s-shadow {
    font-size: small;
    padding-block: 8px;
    padding-inline: 6px;
  }
  .s1-shadow {
    width: 40px;
    height: 40px;
  }
  .s-media {
    font-size: medium;
    padding-inline: 5px;
    font-size: small;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-scroll {
    width: 70%;
  }
  .h1-media {
    font-size: 22px;
  }
  .p-media {
    font-size: small;
    margin-bottom: 8px;
  }
  .s1-shadow {
    width: 35px;
    height: 35px;
  }
}
